#side {
  position: absolute;
  top: 1vmin;
  right: 55vmin;
  height: 55vmin;
  width: 45vmin;
  border: 0.3vmin solid black;
  font-size: 3.5vmin;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

#player-stats {
  display: flex;
}

#player1-section {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px;
}
#player2-section {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px;
}

#cube-outer {
  height: 8vmin;
  width: 8vmin;
  perspective: 30vmin;
  margin: auto;
  margin-top: 70px;
}

#cube-inner {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.75s linear;
}

#cube-inner div {
  height: 100%;
  width: 100%;
  position: absolute;
}

#front {
  transform: translateZ(4vmin);
}

#back {
  transform: rotateY(180deg) translateZ(4vmin);
}

#left {
  transform: rotateY(-90deg) translateX(-4vmin);
  transform-origin: left;
}

#right {
  transform: rotateY(90deg) translateX(4vmin);
  transform-origin: right;
}

#top {
  transform: rotateX(-90deg) translateY(-4vmin);
  transform-origin: top;
}

#bottom {
  transform: rotateX(90deg) translateY(4vmin);
  transform-origin: bottom;
}

img {
  height: 100.3%;
  width: 100.3%;
}

#restart-game-btn {
  display: none;
}
